*{
  font-family: Times New Roman;
}

body{
background-color: #A8B8E6;
}

a.submenu_button{
  text-decoration: none;
  text-align: left;
  position: relative;
  color: black;
  display: inline-block;
  padding: 10px 25px 10px 25px;
  font-size: 14pt;
  background-color: rgba(230, 206, 230, 0.5);
  border: 2px solid #D9AFD9;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  font-family: Circe;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0px 2px 2px #a8a8a8, 0 0 25px #a8a8a8;
}

a.menu_button:hover{
  background-color: rgba(255, 206, 255, 0.9);
}
